@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0; }

body, input, textarea, select, button {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #ffffff; }

.assistive-text {
  display: none; }

a {
  color: #1fabff;
  text-decoration: underline;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out; }
  a:visited {
    color: #1fabff; }
  a:hover {
    color: #1fabff;
    text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 36px 0 24px;
  padding: 0;
  line-height: 1.1;
  color: #303030; }
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited {
    color: #303030;
    text-decoration: none; }
    h1 a:hover, h1 a:visited:hover, h2 a:hover, h2 a:visited:hover, h3 a:hover, h3 a:visited:hover, h4 a:hover, h4 a:visited:hover {
      color: #303030;
      text-decoration: underline; }

h1 {
  font-size: 40px;
  text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  margin: 24px 0; }

.site-header {
  position: relative;
  margin: 100px 0 0;
  width: 100%;
  height: 200px;
  background: #26201c; }
  @media only screen and (min-width: 601px) and (max-width: 1030px) {
    .site-header {
      margin-top: 215px; } }
  .site-header:after, .site-header:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 2px;
    height: 2px;
    width: 100%;
    background-color: #ffba00;
    z-index: 2; }
  .site-header:after {
    top: auto;
    bottom: 2px; }
  .home .site-header {
    height: 500px; }
  .site-header .assistive-text {
    display: none; }
  .site-header hgroup {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto; }
    .site-header hgroup:before {
      z-index: 0;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent url("https://2016.kyiv.wordcamp.org/files/2016/05/header-mini.jpg") no-repeat center top;
      background-size: cover; }
      @media only screen and (max-width: 600px) {
        .site-header hgroup:before {
          background-image: url("https://2016.kyiv.wordcamp.org/files/2016/05/header-mini-mob.jpg"); } }
  .home .site-header hgroup:before {
    background-image: url("https://2016.kyiv.wordcamp.org/files/2016/05/header.jpg"); }
    @media only screen and (max-width: 600px) {
      .home .site-header hgroup:before {
        background-image: url("https://2016.kyiv.wordcamp.org/files/2016/05/header-mob.jpg"); } }
  .site-header .site-title {
    position: absolute;
    top: -70px;
    z-index: 3;
    margin: 0; }
    @media only screen and (min-width: 601px) and (max-width: 1030px) {
      .site-header .site-title {
        top: -190px;
        left: 50%;
        margin-left: -145px; } }
    @media only screen and (max-width: 600px) {
      .site-header .site-title {
        left: 20px;
        top: -64px; } }
    .site-header .site-title a {
      display: block;
      text-indent: -1000px;
      width: 290px;
      height: 48px;
      background: transparent url("https://2016.kyiv.wordcamp.org/files/2016/05/logo.png") no-repeat 0 0;
      background-size: contain;
      overflow: hidden; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
        .site-header .site-title a {
          background-image: url("https://2016.kyiv.wordcamp.org/files/2016/05/logo-2x.png"); } }
      @media only screen and (max-width: 600px) {
        .site-header .site-title a {
          width: 200px; } }
  .site-header .site-description {
    display: none; }
  .site-header .main-small-navigation {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 99; }
    .site-header .main-small-navigation .menu-toggle {
      padding: 0;
      margin: 0;
      text-indent: -10000px;
      height: 40px;
      width: 40px;
      box-sizing: border-box;
      position: absolute;
      right: 20px;
      top: -70px; }
      .site-header .main-small-navigation .menu-toggle:before {
        content: '☰';
        position: absolute;
        display: block;
        text-indent: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 38px;
        font-size: 38px;
        font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
        text-align: right;
        color: #1fabff; }
    .site-header .main-small-navigation .menu {
      padding: 20px;
      margin: 0;
      list-style: none;
      border-top: 2px solid #ffba00;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      z-index: 70; }
      .site-header .main-small-navigation .menu li {
        padding: 5px 0;
        margin: 0;
        line-height: 40px;
        font-size: 18px; }
        .site-header .main-small-navigation .menu li a {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 40px;
          white-space: nowrap; }
        .site-header .main-small-navigation .menu li.current-menu-item a, .site-header .main-small-navigation .menu li.current_page_parent a {
          color: #ffba00; }
      .site-header .main-small-navigation .menu a {
        display: block;
        cursor: pointer;
        color: #333;
        text-decoration: none; }
        .site-header .main-small-navigation .menu a:hover {
          color: #777777;
          text-decoration: none; }
  .site-header .main-navigation {
    position: absolute;
    height: 100px;
    left: 0;
    top: -100px;
    width: 100%;
    background-color: #ffffff; }
    @media only screen and (max-width: 1030px) {
      .site-header .main-navigation {
        top: -130px;
        height: 40px; } }
    @media only screen and (max-width: 600px) {
      .site-header .main-navigation {
        display: none; } }
    .site-header .main-navigation .menu-navigation-container {
      max-width: 1030px;
      box-sizing: border-box;
      margin: 0 auto; }
      @media only screen and (max-width: 1030px) {
        .site-header .main-navigation .menu-navigation-container {
          padding-right: 20px;
          padding-left: 20px;
          text-align: center; } }
      .site-header .main-navigation .menu-navigation-container:after {
        content: "";
        display: table;
        clear: both; }
      .site-header .main-navigation .menu-navigation-container .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        font-size: 18px;
        line-height: 40px;
        white-space: nowrap;
        font-family: "Roboto Condensed", sans-serif; }
        @media only screen and (max-width: 1030px) {
          .site-header .main-navigation .menu-navigation-container .menu {
            float: none; } }
        .site-header .main-navigation .menu-navigation-container .menu .sub-menu {
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
          float: none;
          display: none;
          position: absolute;
          top: 100%;
          left: -30px;
          z-index: 99;
          background: #ffffff;
          padding-bottom: 10px; }
          @media only screen and (max-width: 1030px) {
            .site-header .main-navigation .menu-navigation-container .menu .sub-menu {
              left: -15px; } }
          .site-header .main-navigation .menu-navigation-container .menu .sub-menu .sub-menu {
            display: none; }
          .site-header .main-navigation .menu-navigation-container .menu .sub-menu .menu-item {
            margin: 0 30px; }
            @media only screen and (max-width: 1030px) {
              .site-header .main-navigation .menu-navigation-container .menu .sub-menu .menu-item {
                margin: 0 15px;
                display: block; } }
          .site-header .main-navigation .menu-navigation-container .menu .sub-menu a {
            width: auto;
            white-space: nowrap; }
        .site-header .main-navigation .menu-navigation-container .menu .menu-item-has-children {
          position: relative; }
        .site-header .main-navigation .menu-navigation-container .menu .menu-item {
          display: block;
          float: left;
          margin: 30px 0 0 30px;
          height: 40px; }
          @media only screen and (max-width: 1030px) {
            .site-header .main-navigation .menu-navigation-container .menu .menu-item {
              margin: 0 15px;
              float: none;
              display: inline-block; } }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item {
            position: relative; }
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item:after {
              content: "";
              display: block;
              position: absolute;
              bottom: 2px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #ffb900; }
          @media only screen and (max-width: 1030px) {
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary {
              display: block;
              padding-top: 25px; } }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary:after {
            display: none; }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a {
            background-color: #1fabff;
            color: #fff;
            padding: 0 20px;
            text-transform: uppercase;
            font-size: 15px;
            text-decoration: none; }
            @media only screen and (max-width: 1030px) {
              .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a {
                display: inline-block; } }
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a:hover {
              color: #fff;
              text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
              text-decoration: none; }
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a:active {
              box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3); }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item:hover .sub-menu {
            display: block; }
        .site-header .main-navigation .menu-navigation-container .menu a {
          display: block;
          cursor: pointer;
          color: #333;
          text-decoration: none; }
          .site-header .main-navigation .menu-navigation-container .menu a:hover {
            color: #777777;
            text-decoration: none; }

#after-header-widgets {
  display: none;
  position: absolute;
  left: 0;
  top: 235px;
  width: 100%;
  color: #fff; }
  @media only screen and (max-width: 1030px) {
    #after-header-widgets {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      top: 295px;
      text-align: center; } }
  @media only screen and (max-width: 600px) {
    #after-header-widgets {
      top: 180px; }
      #after-header-widgets .label:nth-child(2n) {
        display: none; } }
  .home #after-header-widgets {
    display: block; }
  #after-header-widgets .widget {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto; }

.header-content .header-content-title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif; }

.header-content .labels {
  margin: 20px 0 30px; }
  .header-content .labels .label {
    margin-right: 11px; }

.site-footer {
  background: #282828;
  color: #777777;
  padding: 30px 0;
  font-family: "Roboto Condensed", sans-serif; }
  .site-footer .site-info {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 16px;
    position: relative; }
    @media only screen and (max-width: 1030px) {
      .site-footer .site-info {
        padding-left: 20px;
        padding-right: 20px; } }
    .site-footer .site-info a {
      margin-right: 25px; }
      @media only screen and (max-width: 600px) {
        .site-footer .site-info a {
          display: block;
          line-height: 2;
          text-align: center; } }
  .site-footer a {
    color: #ffba00;
    text-decoration: none; }
    .site-footer a:hover {
      text-decoration: underline; }
    .site-footer a:visited {
      color: #ffba00; }

#footer-widgets {
  max-width: 1030px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto 20px;
  font-family: "Roboto Condensed", sans-serif; }
  @media only screen and (max-width: 1030px) {
    #footer-widgets {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 600px) {
    #footer-widgets {
      display: none; } }
  #footer-widgets .menu-navigation-container {
    line-height: 1.1;
    font-size: 18px; }
    #footer-widgets .menu-navigation-container .sub-menu {
      display: none; }
    #footer-widgets .menu-navigation-container ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #footer-widgets .menu-navigation-container ul:after {
        content: "";
        display: table;
        clear: both; }
      #footer-widgets .menu-navigation-container ul li {
        padding: 0;
        margin: 0 30px 0 0;
        float: left; }
    #footer-widgets .menu-navigation-container a {
      color: #777777;
      text-decoration: none; }
      #footer-widgets .menu-navigation-container a:hover {
        text-decoration: underline; }
  #footer-widgets .widget {
    margin: 0; }

#footer-widget-3 {
  display: block;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0; }
  @media only screen and (max-width: 1030px) {
    #footer-widget-3 {
      display: none; } }
  #footer-widget-3 .widget {
    margin-bottom: 10px; }

.widget_wpcom_social_media_icons_widget ul {
  margin-bottom: 0; }

.widget_wpcom_social_media_icons_widget .genericon {
  font-size: 32px;
  color: #1fabff; }
  .widget_wpcom_social_media_icons_widget .genericon:hover {
    color: #1fabff;
    text-decoration: none; }
  .widget_wpcom_social_media_icons_widget .genericon:visited {
    color: #1fabff; }

.widget_wpcom_social_media_icons_widget .screen-reader-text {
  display: none; }

#primary {
  max-width: 1030px;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 0; }
  @media only screen and (max-width: 1030px) {
    #primary {
      padding-left: 20px;
      padding-right: 20px; } }

#secondary {
  display: none; }

.label {
  display: inline-block;
  border: 2px solid #ffba00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  color: #ffba00;
  text-transform: uppercase; }

.btn, .comments-area .submit {
  display: inline-block;
  border: 2px solid #ffba00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  height: 36px;
  padding: 0 25px;
  color: #ffba00;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border-radius: 0;
  box-sizing: content-box;
  text-shadow: none;
  box-shadow: none;
  outline: none; }
  .btn:hover, .comments-area .submit:hover {
    text-decoration: none;
    color: #ffba00;
    background: inherit;
    border: 2px solid #ffba00;
    box-shadow: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  .btn:visited, .comments-area .submit:visited {
    color: #ffba00;
    border: 2px solid #ffba00;
    box-shadow: none; }
  .btn:focus, .comments-area .submit:focus {
    outline: 0; }
  .btn.btn-primary, .comments-area .btn-primary.submit {
    background: #ffba00;
    border: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    box-shadow: none; }
    .btn.btn-primary:hover, .comments-area .btn-primary.submit:hover {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      color: #fff;
      border: none;
      box-shadow: none; }
    .btn.btn-primary:active, .comments-area .btn-primary.submit:active {
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      border: none;
      outline: none; }
    .btn.btn-primary:visited, .comments-area .btn-primary.submit:visited {
      color: #fff;
      border: none;
      box-shadow: none; }

.btn-blue, .contact-submit .pushbutton-wide, #tix input[type="submit"] {
  outline: none;
  display: inline-block;
  box-sizing: content-box;
  padding: 0 50px;
  line-height: 40px;
  height: 40px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  border-radius: 0;
  background: #1fabff;
  border: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer; }
  .btn-blue:hover, .contact-submit .pushbutton-wide:hover, #tix input[type="submit"]:hover {
    border: none;
    box-shadow: none;
    background: #1fabff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #ffffff; }
  .btn-blue:active, .contact-submit .pushbutton-wide:active, #tix input[type="submit"]:active {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    text-shadow: none;
    background: #1fabff;
    color: #ffffff; }
  .btn-blue:focus, .contact-submit .pushbutton-wide:focus, #tix input[type="submit"]:focus {
    outline: 0; }

.site-content .light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  font-size: 24px; }

.entry-header {
  position: relative; }
  p + .entry-header {
    margin-top: 60px; }
  .entry-header h1, .entry-header h2, .entry-header h3 {
    margin-top: 0;
    margin-bottom: 18px; }
  .entry-header .header-link {
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffba00;
    right: 0;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin: -16px 0 0; }

.entry-header, .wcb_widget_sponsors {
  margin-top: 0; }
  .entry-header h1, .entry-header h2, .wcb_widget_sponsors h1, .wcb_widget_sponsors h2 {
    border-bottom: 3px solid #eee;
    position: relative;
    padding-bottom: 18px; }
    .entry-header h1:after, .entry-header h2:after, .wcb_widget_sponsors h1:after, .wcb_widget_sponsors h2:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background: #eee; }
  .entry-header h2, .wcb_widget_sponsors h2 {
    margin-bottom: 0; }

.wp-caption-text {
  font-family: "Roboto Condensed", sans-serif; }

.wcb_widget_partners .partner-logo {
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #EEEEEE;
  position: relative;
  margin: 0 0 30px 0;
  padding: 3px;
  float: left; }
  @media only screen and (min-width: 601px) {
    .wcb_widget_partners .partner-logo {
      width: 21.3592233%;
      margin-right: 4.854369%; }
      .wcb_widget_partners .partner-logo:nth-child(4n) {
        margin-right: 0; } }
  @media only screen and (max-width: 600px) {
    .wcb_widget_partners .partner-logo {
      margin-right: 20px;
      width: calc(50% - 10px); }
      .wcb_widget_partners .partner-logo:nth-child(2n) {
        margin-right: 0; } }
  .wcb_widget_partners .partner-logo img {
    display: block;
    width: 100%;
    height: auto; }
  .wcb_widget_partners .partner-logo a {
    display: block;
    height: 0;
    padding: 0 0 70%;
    overflow: hidden; }
    .wcb_widget_partners .partner-logo a:before {
      content: "";
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
      border: 1px solid #EEEEEE; }

.wcb_widget_partners .partner-level:after {
  display: table;
  content: "";
  clear: both; }

@media only screen and (min-width: 601px) {
  .wcb_widget_partners .partner-level.super .partner-logo {
    width: 30.097%; }
    .wcb_widget_partners .partner-level.super .partner-logo:nth-child(3n) {
      margin-right: 0; } }

@media only screen and (max-width: 600px) {
  .wcb_widget_partners .partner-level.super .partner-logo {
    width: 100%;
    margin-right: 0; } }

.wcb_widget_partners .partner-level-title {
  display: none; }

.wcb_widget_partners .widget-title {
  margin-bottom: 40px; }

.wpc-ua-speakers {
  list-style: none;
  padding: 0;
  margin: 0; }
  .wpc-ua-speakers:after {
    display: table;
    content: "";
    clear: both; }
  .wpc-ua-speakers .speaker {
    margin: 0 0 50px 0;
    border-bottom: 3px solid #eee;
    position: relative;
    padding: 0 0 15px;
    float: left; }
    @media only screen and (min-width: 1031px) {
      .wpc-ua-speakers .speaker {
        margin-right: 4.854369%;
        width: 21.3592233%; }
        .wpc-ua-speakers .speaker:nth-child(4n) {
          margin-right: 0; } }
    @media only screen and (min-width: 601px) and (max-width: 1030px) {
      .wpc-ua-speakers .speaker {
        margin-right: 4.0404%;
        width: 30.63973%; }
        .wpc-ua-speakers .speaker:nth-child(3n) {
          margin-right: 0; } }
    @media only screen and (max-width: 600px) {
      .wpc-ua-speakers .speaker {
        margin-right: 20px;
        width: calc(50% - 10px); }
        .wpc-ua-speakers .speaker:nth-child(2n) {
          margin-right: 0; } }
    .wpc-ua-speakers .speaker:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background: #eee; }
  .wpc-ua-speakers h3 {
    margin: 10px 0 5px; }
    @media only screen and (max-width: 600px) {
      .wpc-ua-speakers h3 {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }
  .wpc-ua-speakers .company {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffba00;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: bold; }
    @media only screen and (max-width: 600px) {
      .wpc-ua-speakers .company {
        font-size: 12px; } }
  .wpc-ua-speakers img {
    width: 100%;
    height: auto; }

.wcua-partner-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 40px;
  margin-top: 40px; }
  .wcua-partner-item:last-child {
    border-bottom: none; }
  @media only screen and (max-width: 600px) {
    .wcua-partner-item {
      padding-bottom: 0px;
      margin-top: 20px; } }
  .wcua-partner-item:after {
    content: "";
    display: table;
    clear: left; }
  .wcua-partner-item h2 {
    margin-top: 0;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .wcua-partner-item .wcua-partner-logo {
    width: 306px;
    box-sizing: border-box;
    border: 3px solid #EEEEEE;
    position: relative;
    padding: 3px;
    left: 0;
    top: 0;
    float: left; }
    @media only screen and (max-width: 600px) {
      .wcua-partner-item .wcua-partner-logo {
        float: none;
        width: 100%; } }
    .wcua-partner-item .wcua-partner-logo:before {
      content: "";
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
      border: 1px solid #EEEEEE; }
    .wcua-partner-item .wcua-partner-logo img {
      display: block;
      width: 100%;
      height: auto; }
  .wcua-partner-item .wcua-partner-desc {
    margin-left: 40px;
    float: left;
    width: calc(100% - 346px); }
    @media only screen and (max-width: 600px) {
      .wcua-partner-item .wcua-partner-desc {
        width: auto;
        margin: 20px 0 0;
        float: none;
        padding: 0 6px; } }
  .wcua-partner-item .wcua-partner-link {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1; }
    .wcua-partner-item .wcua-partner-link + p {
      margin-top: 12px; }
    .wcua-partner-item .wcua-partner-link a {
      color: #dddddd;
      text-decoration: none; }

.wcua-partner-item + .entry-header {
  margin-top: 40px; }

.wcua-micro-partners {
  margin-top: 40px; }
  .wcua-micro-partners:after {
    content: "";
    display: table;
    clear: left; }
  .wcua-micro-partners .wcua-micro-partner-item {
    float: left;
    border: 3px solid #EEEEEE;
    padding: 2px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    min-height: 70px;
    white-space: nowrap; }
    @media only screen and (max-width: 600px) {
      .wcua-micro-partners .wcua-micro-partner-item {
        float: none;
        margin-right: 0; } }
    .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-img {
      border: 1px solid #EEEEEE;
      float: left;
      width: 68px; }
      .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-img img {
        display: block;
        width: 100%;
        height: auto; }
    .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-desc {
      float: left;
      padding: 16px 15px 0; }
      .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-desc h2 {
        margin-top: 0;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 2px;
        font-size: 18px; }
      .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-desc .wcua-micro-partner-link {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.1; }
        .wcua-micro-partners .wcua-micro-partner-item .wcua-micro-partner-desc .wcua-micro-partner-link a {
          color: #dddddd;
          text-decoration: none; }

.blog #content, .single-post #content, .archive #content {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto; }
  .blog #content .post, .single-post #content .post, .archive #content .post {
    margin-bottom: 35px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px; }
    .blog #content .post footer.entry-meta, .single-post #content .post footer.entry-meta, .archive #content .post footer.entry-meta {
      display: none; }
    .blog #content .post .entry-header, .single-post #content .post .entry-header, .archive #content .post .entry-header {
      padding-top: 45px;
      position: relative; }
      .blog #content .post .entry-header .entry-title, .single-post #content .post .entry-header .entry-title, .archive #content .post .entry-header .entry-title {
        padding: 0;
        margin: 0;
        border: none;
        font-size: 24px; }
        .blog #content .post .entry-header .entry-title:after, .single-post #content .post .entry-header .entry-title:after, .archive #content .post .entry-header .entry-title:after {
          display: none; }
      .blog #content .post .entry-header .entry-meta, .single-post #content .post .entry-header .entry-meta, .archive #content .post .entry-header .entry-meta {
        font-family: "Roboto Condensed", sans-serif;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        font-weight: bold;
        text-indent: -10000px;
        text-transform: uppercase; }
      .blog #content .post .entry-header .entry-date, .single-post #content .post .entry-header .entry-date, .archive #content .post .entry-header .entry-date {
        display: block;
        text-indent: 0;
        position: absolute;
        left: 0;
        top: 0;
        color: #ffba00; }
      .blog #content .post .entry-header .byline, .single-post #content .post .entry-header .byline, .archive #content .post .entry-header .byline {
        display: inline; }
      .blog #content .post .entry-header .author.vcard, .single-post #content .post .entry-header .author.vcard, .archive #content .post .entry-header .author.vcard {
        color: #dddddd;
        display: block;
        text-indent: 0;
        position: absolute;
        left: 68px;
        top: 0;
        white-space: nowrap; }
        .blog #content .post .entry-header .author.vcard:before, .single-post #content .post .entry-header .author.vcard:before, .archive #content .post .entry-header .author.vcard:before {
          content: "/ Автор: "; }
        .blog #content .post .entry-header .author.vcard a, .single-post #content .post .entry-header .author.vcard a, .archive #content .post .entry-header .author.vcard a {
          color: #dddddd;
          text-decoration: none; }
  .blog #content .site-navigation, .single-post #content .site-navigation, .archive #content .site-navigation {
    margin: 48px 0; }

.comments-area .comments-title {
  display: none; }

.comments-area .commentlist {
  list-style: none;
  padding: 0;
  margin: 20px 0 0; }
  .comments-area .commentlist ul.children {
    list-style: none;
    padding: 0;
    margin: 0 0 0 40px; }
  .comments-area .commentlist li.comment {
    display: block;
    border-top: 1px solid #EEEEEE;
    margin-top: 24px;
    padding-top: 24px; }
    .comments-area .commentlist li.comment .says {
      display: none; }
    .comments-area .commentlist li.comment footer {
      position: relative; }
    .comments-area .commentlist li.comment .comment-author .avatar {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      margin: 0; }
    .comments-area .commentlist li.comment .comment-author .fn {
      display: block;
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      color: #303030;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      margin-left: 50px; }
    .comments-area .commentlist li.comment .comment-author a {
      color: #303030;
      text-decoration: none; }
    .comments-area .commentlist li.comment .comment-meta {
      margin-left: 50px; }
      .comments-area .commentlist li.comment .comment-meta a {
        color: #dddddd;
        text-decoration: none; }
    .comments-area .commentlist li.comment .comment-content {
      margin: 10px 0 0; }
      .comments-area .commentlist li.comment .comment-content p {
        margin: 0; }

.comments-area .comment-reply-title {
  line-height: 1; }
  .comments-area .comment-reply-title:after {
    content: "";
    display: table;
    clear: both; }

.comments-area .logged-in-as {
  display: none; }

.comments-area .comment-form-comment label {
  color: #777777; }

#cancel-comment-reply-link {
  font-weight: normal;
  float: right;
  line-height: 24px; }

.error404 .widget {
  display: none; }

.error404 .widget_recent_entries {
  display: block; }
  .error404 .widget_recent_entries ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .error404 .widget_recent_entries ul li {
      padding: 0 0 10px 0; }

.tix-order-summary, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table {
  width: 100%; }
  .tix-order-summary thead, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table thead {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: #dddddd;
    font-weight: bold;
    font-size: 18px; }
    @media only screen and (max-width: 600px) {
      .tix-order-summary thead, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table thead {
        display: none; } }
    .tix-order-summary thead td, .tix-order-summary thead th, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table thead td, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table thead th {
      padding: 15px 0;
      border-bottom: 1px solid #eee; }
  .tix-order-summary tbody, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #303030;
    line-height: 1; }
    @media only screen and (max-width: 600px) {
      .tix-order-summary tbody, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody {
        font-size: 16px;
        display: block; } }
    @media only screen and (max-width: 600px) {
      .tix-order-summary tbody tr, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody tr {
        display: block; } }
    .tix-order-summary tbody td, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td {
      font-weight: bold;
      padding: 25px 0;
      border-bottom: 1px solid #eee; }
      @media only screen and (max-width: 600px) {
        .tix-order-summary tbody td, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td {
          font-weight: normal;
          display: block;
          width: auto;
          padding: 10px 0; }
          .tix-order-summary tbody td.tix-column-per-ticket:before, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td.tix-column-per-ticket:before {
            content: "За квиток: "; }
          .tix-order-summary tbody td.tix-column-quantity:before, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td.tix-column-quantity:before {
            content: "Кількість: "; }
          .tix-order-summary tbody td.tix-column-price:before, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td.tix-column-price:before {
            content: "Ціна: "; }
          .tix-order-summary tbody td.tix-column-remaining:before, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table tbody td.tix-column-remaining:before {
            content: "Залишок: "; } }

.tix-column-price, .tix-column-per-ticket {
  width: 130px; }
  @media only screen and (max-width: 600px) {
    .tix-column-price, .tix-column-per-ticket {
      width: auto; } }

.tix-column-remaining {
  width: 130px; }
  @media only screen and (max-width: 600px) {
    .tix-column-remaining {
      width: auto; } }

.tix-column-quantity {
  width: 100px; }
  @media only screen and (max-width: 600px) {
    .tix-column-quantity {
      width: auto; } }

@media only screen and (max-width: 600px) {
  .tix_tickets_table td {
    width: auto !important; } }

@media only screen and (max-width: 600px) {
  td.tix-column-price:before, td.tix-column-per-ticket:before, .tix-row-total td strong:before {
    content: "Загалом: "; } }

.tix-attendee-form {
  width: 46.1165%;
  float: left;
  margin-right: 3.883495%; }
  @media only screen and (max-width: 1030px) {
    .tix-attendee-form {
      float: none;
      width: 100%;
      margin-right: 0; } }
  @media only screen and (max-width: 600px) {
    .tix-attendee-form {
      display: block; } }
  .tix-attendee-form th {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    line-height: 20px;
    padding: 10px 0;
    color: #303030; }
    @media only screen and (max-width: 600px) {
      .tix-attendee-form th {
        display: block; } }
  @media only screen and (max-width: 600px) {
    .tix-attendee-form tr, .tix-attendee-form tbody {
      display: block; } }
  .tix-attendee-form td {
    padding: 10px 0;
    margin: 0;
    vertical-align: top; }
    @media only screen and (max-width: 600px) {
      .tix-attendee-form td {
        display: block;
        padding: 0; } }
    .tix-attendee-form td input[type="text"], .tix-attendee-form td input[type="email"] {
      width: 100%; }
  .tix-attendee-form .tix-left {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px; }
    @media only screen and (max-width: 600px) {
      .tix-attendee-form .tix-left {
        line-height: 1.5;
        margin-top: 20px; } }
  .tix-attendee-form .tix-row-question-79 .tix-left, .tix-attendee-form .tix-row-question-80 .tix-left {
    line-height: 1.1; }

.tix-required-star {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: red;
  line-height: 1; }

.tix-submit {
  clear: both;
  text-align: right; }
  .tix-submit br, .tix-submit select {
    display: none; }

.tix-receipt-form {
  clear: both;
  max-width: 600px; }
  @media only screen and (max-width: 600px) {
    .tix-receipt-form {
      display: block; } }
  .tix-receipt-form td {
    font-weight: lighter; }
    @media only screen and (max-width: 600px) {
      .tix-receipt-form td {
        display: block; } }

#tix h2 {
  border-bottom: 3px solid #eee;
  position: relative;
  padding-bottom: 13px;
  text-transform: uppercase; }
  #tix h2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background: #eee; }

input[type="text"], input[type="email"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 0;
  line-height: 40px;
  padding: 0 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin: 0;
  box-shadow: none; }
  input[type="text"]:focus, input[type="email"]:focus {
    box-shadow: none;
    outline: none; }

textarea {
  border: 1px solid #dddddd;
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  resize: vertical;
  box-shadow: none; }
  textarea:focus {
    box-shadow: none;
    outline: none; }

.wcpt-schedule .wcpt-time {
  width: 55px; }
  @media only screen and (min-width: 601px) {
    .wcpt-schedule .wcpt-time {
      width: 120px; } }

.wcpt-schedule thead th {
  display: none; }

.wcpt-schedule tbody td {
  border-bottom: 1px solid #dddddd;
  line-height: 1.1;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding: 20px 0 20px 15px;
  vertical-align: middle; }
  .wcpt-schedule tbody td.wcpt-time {
    font-size: 24px;
    color: #dddddd; }
    @media only screen and (min-width: 601px) {
      .wcpt-schedule tbody td.wcpt-time {
        font-size: 48px; } }
  .wcpt-schedule tbody td .wcpt-session-title {
    font-size: 18px;
    color: #303030; }
    @media only screen and (min-width: 601px) {
      .wcpt-schedule tbody td .wcpt-session-title {
        font-size: 20px; } }
    .wcpt-schedule tbody td .wcpt-session-title:after {
      content: "\a";
      white-space: pre; }
  .wcpt-schedule tbody td .wcpt-session-speakers {
    font-size: 14px;
    font-style: italic;
    color: #ffba00; }
    @media only screen and (min-width: 601px) {
      .wcpt-schedule tbody td .wcpt-session-speakers {
        font-size: 15px; } }

.wcpt-schedule tbody tr.wcpt-time-0845 td, .wcpt-schedule tbody tr.wcpt-time-0945 td, .wcpt-schedule tbody tr.wcpt-time-1125 td, .wcpt-schedule tbody tr.wcpt-time-1315 td, .wcpt-schedule tbody tr.wcpt-time-1610 td, .wcpt-schedule tbody tr.wcpt-time-1800 td, .wcpt-schedule tbody tr.wcpt-time-1055 td, .wcpt-schedule tbody tr.wcpt-time-1240 td, .wcpt-schedule tbody tr.wcpt-time-1525 td, .wcpt-schedule tbody tr.wcpt-time-1710 td, .wcpt-schedule tbody tr.wcpt-time-1900 td {
  position: relative; }
  .wcpt-schedule tbody tr.wcpt-time-0845 td:after, .wcpt-schedule tbody tr.wcpt-time-0945 td:after, .wcpt-schedule tbody tr.wcpt-time-1125 td:after, .wcpt-schedule tbody tr.wcpt-time-1315 td:after, .wcpt-schedule tbody tr.wcpt-time-1610 td:after, .wcpt-schedule tbody tr.wcpt-time-1800 td:after, .wcpt-schedule tbody tr.wcpt-time-1055 td:after, .wcpt-schedule tbody tr.wcpt-time-1240 td:after, .wcpt-schedule tbody tr.wcpt-time-1525 td:after, .wcpt-schedule tbody tr.wcpt-time-1710 td:after, .wcpt-schedule tbody tr.wcpt-time-1900 td:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    bottom: 8px;
    background-color: #f7f7f7;
    z-index: -1; }
