html, body {
  padding: 0;
  margin: 0; }

body, input, textarea, select, button {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fcfdfe; }

h1, h2, h4, h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 36px 0 24px;
  line-height: 1.1; }

p {
  margin: 24px 0; }

.site-header {
  position: relative;
  padding: 100px 0 500px;
  height: 0;
  width: 100%;
  background: transparent url("../images/test.jpg") no-repeat center center;
  background-size: cover; }
  .site-header:after, .site-header:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 102px;
    height: 2px;
    width: 100%;
    background-color: #ffb900; }
  .site-header:after {
    top: auto;
    bottom: 2px; }
  .site-header hgroup {
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto; }
  .site-header .site-title {
    position: absolute;
    top: 22px;
    z-index: 3;
    margin: 0; }
    .site-header .site-title a {
      display: block;
      text-indent: -1000px;
      width: 298px;
      height: 56px;
      background: transparent url("../images/logo.png") no-repeat 0 0; }
  .site-header .site-description {
    display: none; }
  .site-header .main-navigation {
    position: absolute;
    height: 100px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fcfdfe; }
    .site-header .main-navigation .menu-navigation-container {
      max-width: 1170px;
      box-sizing: border-box;
      margin: 0 auto; }
      .site-header .main-navigation .menu-navigation-container:after {
        content: "";
        display: table;
        clear: both; }
      .site-header .main-navigation .menu-navigation-container .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        font-size: 18px;
        line-height: 40px;
        white-space: nowrap;
        font-family: "Roboto Condensed", sans-serif; }
        .site-header .main-navigation .menu-navigation-container .menu .menu-item {
          display: block;
          float: left;
          margin: 30px 0 0 30px;
          height: 40px; }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item {
            position: relative; }
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item:after {
              content: "";
              display: block;
              position: absolute;
              bottom: 2px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #ffb000; }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a {
            background-color: #1ea6f7;
            color: #fff;
            border-radius: 4px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            padding: 0 20px; }
        .site-header .main-navigation .menu-navigation-container .menu a {
          display: block;
          cursor: pointer;
          color: #333;
          text-decoration: none; }
          .site-header .main-navigation .menu-navigation-container .menu a:hover {
            color: #555555;
            text-decoration: none; }

#after-header-widgets {
  position: absolute;
  left: 0;
  top: 240px;
  width: 100%;
  color: #fff;
  text-align: right; }
  #after-header-widgets .widget {
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto; }

.header-content .header-content-title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif; }

.header-content .labels {
  margin: 15px 0 20px; }
  .header-content .labels .label {
    margin-left: 4px; }

.site-footer {
  background: #282828;
  color: #777777;
  padding: 30px 0; }
  .site-footer .site-info {
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 16px; }
    .site-footer .site-info a {
      color: #ffb900;
      text-decoration: none;
      margin-right: 25px; }
      .site-footer .site-info a:hover {
        text-decoration: none; }

#footer-widgets {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto 20px; }
  #footer-widgets .menu-navigation-container {
    line-height: 1.1;
    font-size: 18px; }
    #footer-widgets .menu-navigation-container ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #footer-widgets .menu-navigation-container ul:after {
        content: "";
        display: table;
        clear: both; }
      #footer-widgets .menu-navigation-container ul li {
        padding: 0;
        margin: 0 30px 0 0;
        float: left; }
    #footer-widgets .menu-navigation-container a {
      color: #777777;
      text-decoration: none; }
      #footer-widgets .menu-navigation-container a:hover {
        text-decoration: none; }
  #footer-widgets .widget {
    margin: 0; }

.site-content {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 40px auto;
  background: #f7f7f7;
  padding: 70px; }

.label {
  display: inline-block;
  border: 2px solid #ffb900;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  height: 28px;
  padding: 0 7px;
  border-radius: 4px;
  color: #ffb900; }

.btn {
  display: inline-block;
  border: 2px solid #ffb900;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  height: 36px;
  padding: 0 25px;
  border-radius: 4px;
  color: #ffb900;
  cursor: pointer;
  text-decoration: none; }
  .btn:hover {
    text-decoration: none;
    color: #ffb900; }
  .btn.btn-primary {
    background: #ffb900;
    border: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.site-content .light {
  font-weight: lighter;
  font-size: 24px; }

.site-content .entry-header h1, .site-content .entry-header h2, .site-content .entry-header h3 {
  margin-top: 0; }

.home .site-content .entry-header .entry-title {
  color: #ffb900;
  font-size: 38px;
  text-transform: uppercase; }
