@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0; }

body, input, textarea, select, button {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #ffffff; }

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 36px 0 24px;
  padding: 0;
  line-height: 1.1;
  color: #303030; }

h1 {
  font-size: 40px;
  text-transform: uppercase; }
  @media only screen and (max-width: 640px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  margin: 24px 0; }

.site-header {
  position: relative;
  padding: 100px 0 0;
  width: 100%;
  background-size: cover;
  height: 200px;
  background: #26201c url("../images/header-mini.jpg") no-repeat center center; }
  @media only screen and (max-width: 640px) {
    .site-header {
      background-image: url("../images/header-mini-mob.jpg"); } }
  .site-header:after, .site-header:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 102px;
    height: 2px;
    width: 100%;
    background-color: #ffba00; }
  .site-header:after {
    top: auto;
    bottom: 2px; }
  .home .site-header {
    height: 500px;
    background: #26201c url("../images/header.jpg") no-repeat center center; }
    @media only screen and (max-width: 640px) {
      .home .site-header {
        background-image: url("../images/header-mob.jpg"); } }
  .site-header hgroup {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto; }
  .site-header .site-title {
    position: absolute;
    top: 32px;
    z-index: 3;
    margin: 0; }
    @media only screen and (max-width: 1030px) {
      .site-header .site-title {
        left: 20px; } }
    @media only screen and (max-width: 360px) {
      .site-header .site-title {
        -webkit-transform: scale(0.85, 0.85) translateX(-15px);
                transform: scale(0.85, 0.85) translateX(-15px); } }
    .site-header .site-title a {
      display: block;
      text-indent: -1000px;
      width: 255px;
      height: 41px;
      background: transparent url("../images/logo.png") no-repeat 0 0; }
  .site-header .site-description {
    display: none; }
  .site-header .main-small-navigation {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: #ffffff; }
    .site-header .main-small-navigation .menu-toggle {
      padding: 0;
      margin: 0;
      text-indent: -1000px;
      height: 40px;
      width: 40px;
      box-sizing: border-box;
      position: absolute;
      right: 20px;
      top: -70px; }
      .site-header .main-small-navigation .menu-toggle:before {
        content: '\2630';
        position: absolute;
        display: block;
        text-indent: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 38px;
        font-size: 38px;
        font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
        text-align: right;
        color: #1fabff; }
    .site-header .main-small-navigation .menu {
      padding: 20px;
      margin: 0;
      list-style: none;
      border-top: 2px solid #ffba00;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
      position: relative;
      z-index: 70; }
      .site-header .main-small-navigation .menu li {
        padding: 0;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        font-size: 18px; }
  .site-header .main-navigation {
    position: absolute;
    height: 100px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff; }
    .site-header .main-navigation .menu-navigation-container {
      max-width: 1030px;
      box-sizing: border-box;
      margin: 0 auto; }
      @media only screen and (max-width: 1030px) {
        .site-header .main-navigation .menu-navigation-container {
          padding-right: 20px; } }
      .site-header .main-navigation .menu-navigation-container:after {
        content: "";
        display: table;
        clear: both; }
      .site-header .main-navigation .menu-navigation-container .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        font-size: 18px;
        line-height: 40px;
        white-space: nowrap;
        font-family: "Roboto Condensed", sans-serif; }
        .site-header .main-navigation .menu-navigation-container .menu .menu-item {
          display: block;
          float: left;
          margin: 30px 0 0 30px;
          height: 40px; }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item {
            position: relative; }
            .site-header .main-navigation .menu-navigation-container .menu .menu-item.current-menu-item:after {
              content: "";
              display: block;
              position: absolute;
              bottom: 2px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #ffb900; }
          .site-header .main-navigation .menu-navigation-container .menu .menu-item.primary a {
            background-color: #1fabff;
            color: #fff;
            padding: 0 20px;
            text-transform: uppercase;
            font-size: 15px; }
        .site-header .main-navigation .menu-navigation-container .menu a {
          display: block;
          cursor: pointer;
          color: #333;
          text-decoration: none; }
          .site-header .main-navigation .menu-navigation-container .menu a:hover {
            color: #777777;
            text-decoration: none; }

#after-header-widgets {
  display: none;
  position: absolute;
  left: 0;
  top: 235px;
  width: 100%;
  color: #fff; }
  @media only screen and (max-width: 1030px) {
    #after-header-widgets {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box; } }
  @media only screen and (max-width: 640px) {
    #after-header-widgets {
      top: 180px;
      text-align: center; }
      #after-header-widgets .label:nth-child(2n) {
        display: none; } }
  .home #after-header-widgets {
    display: block; }
  #after-header-widgets .widget {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto; }

.header-content .header-content-title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif; }

.header-content .labels {
  margin: 20px 0 30px; }
  .header-content .labels .label {
    margin-right: 11px; }

.site-footer {
  background: #282828;
  color: #777777;
  padding: 30px 0; }
  .site-footer .site-info {
    max-width: 1030px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 16px;
    position: relative; }
    @media only screen and (max-width: 1030px) {
      .site-footer .site-info {
        padding-left: 20px;
        padding-right: 20px; } }
    .site-footer .site-info:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 288px;
      height: 50px;
      background: transparent url("../images/logo-footer.png") no-repeat 0 0; }
      @media only screen and (max-width: 1030px) {
        .site-footer .site-info:after {
          display: none; } }
    .site-footer .site-info a {
      color: #ffba00;
      text-decoration: none;
      margin-right: 25px; }
      @media only screen and (max-width: 640px) {
        .site-footer .site-info a {
          display: block;
          line-height: 2;
          text-align: center; } }
      .site-footer .site-info a:hover {
        text-decoration: none; }

#footer-widgets {
  max-width: 1030px;
  box-sizing: border-box;
  margin: 0 auto 20px; }
  @media only screen and (max-width: 1030px) {
    #footer-widgets {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 640px) {
    #footer-widgets {
      display: none; } }
  #footer-widgets .menu-navigation-container {
    line-height: 1.1;
    font-size: 18px; }
    #footer-widgets .menu-navigation-container ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #footer-widgets .menu-navigation-container ul:after {
        content: "";
        display: table;
        clear: both; }
      #footer-widgets .menu-navigation-container ul li {
        padding: 0;
        margin: 0 30px 0 0;
        float: left; }
    #footer-widgets .menu-navigation-container a {
      color: #777777;
      text-decoration: none; }
      #footer-widgets .menu-navigation-container a:hover {
        text-decoration: none; }
  #footer-widgets .widget {
    margin: 0; }

#primary {
  max-width: 1030px;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 0; }
  @media only screen and (max-width: 1030px) {
    #primary {
      padding-left: 20px;
      padding-right: 20px; } }

#secondary {
  display: none; }

.label {
  display: inline-block;
  border: 2px solid #ffba00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  color: #ffba00;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  border: 2px solid #ffba00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  height: 36px;
  padding: 0 25px;
  color: #ffba00;
  cursor: pointer;
  text-decoration: none; }
  .btn:hover {
    text-decoration: none;
    color: #ffba00; }
  .btn.btn-primary {
    background: #ffba00;
    border: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.site-content .light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  font-size: 24px; }

.entry-header {
  position: relative; }
  p + .entry-header {
    margin-top: 60px; }
  .entry-header h1, .entry-header h2, .entry-header h3 {
    margin-top: 0;
    margin-bottom: 18px; }
  .entry-header .header-link {
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffba00;
    right: 0;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin: -16px 0 0; }

.entry-header, .wcb_widget_sponsors {
  margin-top: 0; }
  .entry-header h1, .wcb_widget_sponsors h1 {
    border-bottom: 3px solid #eee;
    position: relative;
    padding-bottom: 18px; }
    .entry-header h1:after, .wcb_widget_sponsors h1:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background: #eee; }

.wcb_widget_sponsors .sponsor-logo {
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #EEEEEE;
  position: relative;
  margin: 0 0 30px 0;
  padding: 3px;
  float: left; }
  @media only screen and (min-width: 641px) {
    .wcb_widget_sponsors .sponsor-logo {
      width: 21.3592233%;
      margin-right: 4.854369%; } }
  @media only screen and (max-width: 640px) {
    .wcb_widget_sponsors .sponsor-logo {
      margin-right: 20px;
      width: calc(50% - 10px); }
      .wcb_widget_sponsors .sponsor-logo:nth-child(2n) {
        margin-right: 0; } }
  .wcb_widget_sponsors .sponsor-logo:before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid #EEEEEE; }
  .wcb_widget_sponsors .sponsor-logo img {
    display: block;
    width: 100%;
    height: auto; }
  .wcb_widget_sponsors .sponsor-logo a {
    display: block;
    height: 0;
    padding: 0 0 70%;
    overflow: hidden; }

.wcb_widget_sponsors .sponsor-level:after {
  display: table;
  content: "";
  clear: both; }

@media only screen and (min-width: 641px) {
  .wcb_widget_sponsors .sponsor-level.super .sponsor-logo {
    width: 30.097%; }
    .wcb_widget_sponsors .sponsor-level.super .sponsor-logo:nth-child(3n) {
      margin-right: 0; } }

@media only screen and (max-width: 640px) {
  .wcb_widget_sponsors .sponsor-level.super .sponsor-logo {
    width: 100%;
    margin-right: 0; } }

.wcb_widget_sponsors .sponsor-level-title {
  display: none; }

.wcb_widget_sponsors .widget-title {
  margin-bottom: 40px; }

.wpc-ua-speakers {
  list-style: none;
  padding: 0;
  margin: 0; }
  .wpc-ua-speakers:after {
    display: table;
    content: "";
    clear: both; }
  .wpc-ua-speakers .speaker {
    margin: 0 0 50px 0;
    border-bottom: 3px solid #eee;
    position: relative;
    padding: 0 0 15px;
    float: left; }
    @media only screen and (min-width: 1031px) {
      .wpc-ua-speakers .speaker {
        margin-right: 4.854369%;
        width: 21.3592233%; }
        .wpc-ua-speakers .speaker:nth-child(4n) {
          margin-right: 0; } }
    @media only screen and (max-width: 1030px) {
      .wpc-ua-speakers .speaker {
        margin-right: 4.0404%;
        width: 30.63973%; }
        .wpc-ua-speakers .speaker:nth-child(3n) {
          margin-right: 0; } }
    @media only screen and (max-width: 640px) {
      .wpc-ua-speakers .speaker {
        margin-right: 20px;
        width: calc(50% - 10px); }
        .wpc-ua-speakers .speaker:nth-child(2n) {
          margin-right: 0; } }
    .wpc-ua-speakers .speaker:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background: #eee; }
  .wpc-ua-speakers h3 {
    margin: 10px 0 5px; }
    @media only screen and (max-width: 640px) {
      .wpc-ua-speakers h3 {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }
  .wpc-ua-speakers .company {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffba00;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: bold; }
    @media only screen and (max-width: 640px) {
      .wpc-ua-speakers .company {
        font-size: 12px; } }
  .wpc-ua-speakers img {
    width: 100%;
    height: auto; }

.wcua-partner-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 40px;
  margin-top: 40px; }
  .wcua-partner-item:after {
    content: "";
    display: table;
    clear: left; }
  .wcua-partner-item h2 {
    margin-top: 0;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .wcua-partner-item .wcua-partner-logo {
    width: 312px;
    box-sizing: border-box;
    border: 3px solid #EEEEEE;
    position: relative;
    padding: 3px;
    left: 0;
    top: 0;
    float: left; }
    .wcua-partner-item .wcua-partner-logo:before {
      content: "";
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
      border: 1px solid #EEEEEE; }
    .wcua-partner-item .wcua-partner-logo img {
      display: block;
      width: 100%;
      height: auto; }
  .wcua-partner-item .wcua-partner-desc {
    margin-left: 40px;
    float: left;
    width: calc(100% - 352px); }
  .wcua-partner-item .wcua-partner-link {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1; }
    .wcua-partner-item .wcua-partner-link + p {
      margin-top: 12px; }
    .wcua-partner-item .wcua-partner-link a {
      color: #dddddd;
      text-decoration: none; }

.blog #content, .single-post #content, .archive #content {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto; }
  .blog #content .post, .single-post #content .post, .archive #content .post {
    margin-bottom: 35px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px; }
    .blog #content .post footer.entry-meta, .single-post #content .post footer.entry-meta, .archive #content .post footer.entry-meta {
      display: none; }
    .blog #content .post .entry-header, .single-post #content .post .entry-header, .archive #content .post .entry-header {
      padding-top: 45px;
      position: relative; }
      .blog #content .post .entry-header .entry-title, .single-post #content .post .entry-header .entry-title, .archive #content .post .entry-header .entry-title {
        padding: 0;
        margin: 0;
        border: none;
        font-size: 24px; }
        .blog #content .post .entry-header .entry-title:after, .single-post #content .post .entry-header .entry-title:after, .archive #content .post .entry-header .entry-title:after {
          display: none; }
        .blog #content .post .entry-header .entry-title a, .single-post #content .post .entry-header .entry-title a, .archive #content .post .entry-header .entry-title a {
          color: inherit;
          text-decoration: none; }
      .blog #content .post .entry-header .entry-meta, .single-post #content .post .entry-header .entry-meta, .archive #content .post .entry-header .entry-meta {
        font-family: "Roboto Condensed", sans-serif;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        font-weight: bold;
        text-indent: -1000px;
        text-transform: uppercase; }
      .blog #content .post .entry-header .entry-date, .single-post #content .post .entry-header .entry-date, .archive #content .post .entry-header .entry-date {
        display: block;
        text-indent: 0;
        position: absolute;
        left: 0;
        top: 0;
        color: #ffba00; }
      .blog #content .post .entry-header .byline, .single-post #content .post .entry-header .byline, .archive #content .post .entry-header .byline {
        display: inline; }
      .blog #content .post .entry-header .author.vcard, .single-post #content .post .entry-header .author.vcard, .archive #content .post .entry-header .author.vcard {
        color: #dddddd;
        display: block;
        text-indent: 0;
        position: absolute;
        left: 68px;
        top: 0;
        white-space: nowrap; }
        .blog #content .post .entry-header .author.vcard:before, .single-post #content .post .entry-header .author.vcard:before, .archive #content .post .entry-header .author.vcard:before {
          content: "/ Автор: "; }
        .blog #content .post .entry-header .author.vcard a, .single-post #content .post .entry-header .author.vcard a, .archive #content .post .entry-header .author.vcard a {
          color: #dddddd;
          text-decoration: none; }
