html, body
  padding: 0
  margin: 0

body, input, textarea, select, button
  font-size: 16px
  line-height: 1.5
  font-family: $font-main
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: $color-bg

.assistive-text
  display: none


a
  color: $color-blue
  text-decoration: underline
  transition: color .2s ease-out
  &:visited
    color: $color-blue
  &:hover
    color: $color-blue
    text-decoration: none