.tix-order-summary, .tix-js:not(.tix-has-dynamic-receipts) .tix_tickets_table
  width: 100%
  thead
    text-transform: uppercase
    font-family: $font-contrast
    color: #dddddd
    font-weight: bold
    font-size: 18px
    +breakpoint-max($responsive-mobile)
      display: none
    td, th
      padding: 15px 0
      border-bottom: 1px solid #eee

  tbody
    font-size: 20px
    font-family: $font-contrast
    font-weight: bold
    color: $color-heading
    line-height: 1
    +breakpoint-max($responsive-mobile)
      font-size: 16px
      display: block
    tr
      +breakpoint-max($responsive-mobile)
        display: block
    td
      font-weight: bold
      padding: 25px 0
      border-bottom: 1px solid #eee
      +breakpoint-max($responsive-mobile)
        font-weight: normal
        display: block
        width: auto
        padding: 10px 0
        &.tix-column-per-ticket
          &:before
            content: "За квиток: $"
        &.tix-column-quantity
          &:before
            content: "Кількість: "
        &.tix-column-price
          &:before
            content: "Ціна: "
        &.tix-column-remaining
          &:before
            content: "Залишок: "



.tix-column-price, .tix-column-per-ticket
  width: 130px
  +breakpoint-max($responsive-mobile)
    width: auto
.tix-column-remaining
  width: 130px
  +breakpoint-max($responsive-mobile)
    width: auto
.tix-column-quantity
  width: 100px
  +breakpoint-max($responsive-mobile)
    width: auto

.tix-attendee-form tbody td
  +breakpoint-max($responsive-mobile)
    width: auto !important

td.tix-column-price, td.tix-column-per-ticket, .tix-row-total td strong
  &:before
    content: "$ "
    +breakpoint-max($responsive-mobile)
      content: "Загалом: $ "

.tix-attendee-form
  width: 46.1165%
  float: left
  margin-right: 3.883495%
  +breakpoint-max($responsive-tablet)
    float: none
    width: 100%
    margin-right: 0
  +breakpoint-max($responsive-mobile)
    display: block

  th
    font-weight: bold
    font-family: $font-contrast
    text-transform: uppercase
    font-size: 18px
    border-bottom: 1px solid #eee
    line-height: 20px
    padding: 10px 0
    color: $color-heading
    +breakpoint-max($responsive-mobile)
      display: block
  tr, tbody
    +breakpoint-max($responsive-mobile)
      display: block
  td
    padding: 10px 0
    margin: 0
    vertical-align: top
    +breakpoint-max($responsive-mobile)
      display: block
      padding: 0
    input[type="text"], input[type="email"]
      width: 100%

  .tix-left
    font-family: $font-contrast
    font-size: 18px
    font-weight: bold
    line-height: 40px
    +breakpoint-max($responsive-mobile)
      line-height: 1.5
      margin-top: 20px
  .tix-row-question-79, .tix-row-question-80
    .tix-left
      line-height: 1.1


.tix-required-star
  font-size: 14px
  font-family: $font-contrast
  font-weight: bold
  color: red
  line-height: 1

.tix-submit
  clear: both
  text-align: right
  br, select
    display: none

.tix-receipt-form
  clear: both
  max-width: 600px
  +breakpoint-max($responsive-mobile)
    display: block
  td
    font-weight: lighter
    +breakpoint-max($responsive-mobile)
      display: block

#tix
  h2
    border-bottom: 3px solid #eee
    position: relative
    padding-bottom: 13px
    text-transform: uppercase
    &:after
      content: ""
      display: block
      position: absolute
      left: 0
      bottom: -6px
      width: 100%
      height: 1px
      background: #eee

  input[type="submit"]
    display: inline-block
    box-sizing: content-box
    padding: 0 50px
    line-height: 40px
    height: 40px
    margin: 0
    text-transform: uppercase
    font-family: $font-contrast
    color: $color-bg
    font-weight: normal
    font-size: 15px
    border-radius: 0
    background: $color-blue
    border: none
    box-shadow: none
    text-shadow: none
