$header-height: 100px
$header-mob-height: 215px

.site-header
  position: relative
  margin: $header-height 0 0
  width: 100%
  height: 200px
  background: #26201c
  +breakpoint($responsive-mobile, $responsive-tablet)
    margin-top: $header-mob-height

  &:after, &:before
    content: ""
    position: absolute
    display: block
    left: 0
    top: 2px
    height: 2px
    width: 100%
    background-color: $color-yellow
    z-index: 2

  &:after
    top: auto
    bottom: 2px

  .home &
    height: 500px

  .assistive-text
    display: none

  hgroup
    max-width: $max-container-width
    box-sizing: border-box
    margin: 0 auto
    &:before
      z-index: 0
      content: ""
      position: absolute
      background-size: cover
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: transparent url('https://2016.kyiv.wordcamp.org/files/2016/05/header-mini.jpg') no-repeat center top
      +breakpoint-max($responsive-mobile)
        background-image: url('https://2016.kyiv.wordcamp.org/files/2016/05/header-mini-mob.jpg')

  .home &
    hgroup:before
      background: transparent url('https://2016.kyiv.wordcamp.org/files/2016/05/header.jpg') no-repeat center top
      +breakpoint-max($responsive-mobile)
        background-image: url('https://2016.kyiv.wordcamp.org/files/2016/05/header-mob.jpg')

  .site-title
    position: absolute
    top: 30px - $header-height
    z-index: 3
    margin: 0
    +breakpoint($responsive-mobile, $responsive-tablet)
      top: 25px - $header-mob-height
      left: 50%
      margin-left: - 290px / 2
    +breakpoint-max($responsive-mobile)
      left: $screen-padding-mobile
      top: 36px - $header-height
    a
      display: block
      text-indent: -1000px
      width: 290px
      height: 48px
      background: transparent url('https://2016.kyiv.wordcamp.org/files/2016/05/logo.png') no-repeat 0 0
      background-size: contain
      overflow: hidden
      +retina
        background-image: url('https://2016.kyiv.wordcamp.org/files/2016/05/logo-2x.png')
      +breakpoint-max($responsive-mobile)
        width: 200px



  .site-description
    display: none

  .main-small-navigation
    font-family: $font-contrast
    position: absolute
    left: 0
    top: 0
    width: 100%
    background: $color-bg
    z-index: 99
    .menu-toggle
      padding: 0
      margin: 0
      text-indent: -10000px
      height: 40px
      width: 40px
      box-sizing: border-box
      position: absolute
      right: $screen-padding-mobile
      top: 30px - $header-height
      &:before
        content: '☰'
        position: absolute
        display: block
        text-indent: 0
        left: 0
        top: 0
        width: 100%
        height: 100%
        line-height: 38px
        font-size: 38px
        font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif
        text-align: right
        color: $color-blue

    .menu
      padding: $screen-padding-mobile
      margin: 0
      list-style: none
      border-top: 2px solid $color-yellow
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8)
      position: relative
      z-index: 70
      li
        padding: 5px 0
        margin: 0
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        height: 40px
        line-height: 40px
        font-size: 18px
        &.current-menu-item, &.current_page_parent
          a
            color: $color-yellow
      a
        display: block
        cursor: pointer
        color: #333
        text-decoration: none
        &:hover
          color: $color-text
          text-decoration: none

  .main-navigation
    position: absolute
    height: $header-height
    left: 0
    top: -$header-height
    width: 100%
    background-color: $color-bg
    +breakpoint-max($responsive-tablet)
      top: 85px - $header-mob-height
      height: 40px
    +breakpoint-max($responsive-mobile)
      display: none

    .menu-navigation-container
      max-width: $max-container-width
      box-sizing: border-box
      margin: 0 auto
      +breakpoint-max($responsive-tablet)
        padding-right: $screen-padding-mobile
        padding-left: $screen-padding-mobile
        text-align: center
      &:after
        content: ""
        display: table
        clear: both

      .menu
        padding: 0
        margin: 0
        list-style: none
        float: right
        font-size: 18px
        line-height: 40px
        white-space: nowrap
        font-family: $font-contrast
        +breakpoint-max($responsive-tablet)
          float: none

        .menu-item
          display: block
          float: left
          margin: ($header-height - 40px)/2 0 0 30px
          height: 40px
          +breakpoint-max($responsive-tablet)
            margin: 0 15px
            float: none
            display: inline-block

          &.current-menu-item, &.current_page_parent
            position: relative
            &:after
              content: ""
              display: block
              position: absolute
              bottom: 2px
              left: 0
              width: 100%
              height: 2px
              background-color: $color-yellow-dark

          &.primary
            +breakpoint-max($responsive-tablet)
              display: block
              padding-top: 25px
            &:after
              display: none
            a
              background-color: $color-blue
              color: #fff
              padding: 0 20px
              text-transform: uppercase
              font-size: 15px
              text-decoration: none
              +breakpoint-max($responsive-tablet)
                display: inline-block
              &:hover
                color: #fff
                text-shadow: 0 2px 2px rgba(0, 0, 0, .1)
                text-decoration: none
              &:active
                box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .3)

        a
          display: block
          cursor: pointer
          color: #333
          text-decoration: none
          &:hover
            color: $color-text
            text-decoration: none


#after-header-widgets
  display: none
  position: absolute
  left: 0
  top: $header-height + 135px
  width: 100%
  color: #fff

  +breakpoint-max($responsive-tablet)
    padding-left: $screen-padding-mobile
    padding-right: $screen-padding-mobile
    box-sizing: border-box
    top: $header-mob-height + 80px
    text-align: center
  +breakpoint-max($responsive-mobile)
    top: $header-height + 80px
    .label
      &:nth-child(2n)
        display: none
  .home &
    display: block


  .widget
    max-width: $max-container-width
    box-sizing: border-box
    margin: 0 auto


.header-content
  .header-content-title
    font-size: 44px
    line-height: 1.2
    font-weight: lighter
    font-family: $font-contrast

  .labels
    margin: 20px 0 30px
    .label
      margin-right: 11px