$content-box-margin: 24px

h1, h2, h3, h4
  font-family: $font-contrast
  font-weight: bold
  margin: ($content-box-margin * 1.5 ) 0 $content-box-margin
  padding: 0
  line-height: 1.1
  color: $color-heading
  a, a:visited
    color: $color-heading
    text-decoration: none
    &:hover
      text-decoration: underline



h1
  font-size: 40px
  text-transform: uppercase
  +breakpoint-max($responsive-mobile)
    font-size: 32px

h2
  font-size: 24px

h3
  font-size: 20px

p
  margin: $content-box-margin 0